.footerContainer{
    background-color: #D9D9D9;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.footerInfos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footerInfos p{
    display: flex;
    align-self: center;
    margin: 0; 
}
