.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10rem;
}
.introducao{
    margin: 0 12rem;
    margin-top: 6.5rem;
    display: grid;
    width: 110rem;
    gap: 2rem;
}
.introducaoTitulo{
    font-size: 4rem;
}
.introducao p span{
    font-weight: bold;
}
.avaliacao{
    display: flex;
    background-color: #FF4747;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.avaliacao p{
    color: #FFFFFF;
}
.avaliacaoTitulo{
    font-weight: bold;
}
.avaliacaoIcones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    max-width: 100rem;
}
.avaliacaoIcones p{
    font-size: 2rem;
}
.avaliacaoIcones img{
    width: 100%;
    max-width: 2.5rem;
}
.icone1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icone2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icone3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.formularios{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.formulario1{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    width: 100%;
}
.mb3{
    width: 100%;
    max-width: 50rem;
    padding: 10rem;
}
